 
/* Sign up page  */
 .container_signUp{
    background-color:#c8dbda;
    border: 2px solid black;
    width: 60%;
    height: 50%;
    margin: 5px auto;
    border-radius: 12px;
    box-shadow: 2px grey;
}
 
 

.getMessage{

margin: 10px 12px;
width:90%;
text-align: center;
padding: 1px 0px;
color: white;
}
h3{
display: inline-block;
font-weight: bold;
font-size: 20px;
margin: 10px 50px;
 
border-radius: 10px;
padding: 20px 30px;

}  
 .container_index{
    border: 2px solid;
    width: 60%;
    margin: 10px auto;
}
.formInner_signUp input[type ="email"], input[type = "password"], input[type = "text"]{
    margin: 10px;
        width: 90%;
        height: 50px;
    }
.formInner_index input[type="email"]{
     margin: 10px;
        width: 90%;
        height: 50px;
    }
.formInner_index{
    margin: 20px auto;
    text-align: center;
    width: 80%;
    text-align: center;
    width: 80%;
    
} 

 ::placeholder {  
  text-align: center;
  font-size: 15px;
}
.formButton{
    margin: 20px auto;
    text-align: center;
    width: 50%;
}


/* / category page / */
.container{
 width: 100%;
 border: 2px solid black;  
 
}
.mainHeading{
text-align:center;
color: red;
margin: 2px;
}
.container_category{
    display: flex;
 margin: 0px 10px;
 margin-bottom: 10px;
width: 95%;
justify-content: space-evenly;
}
.subcontainer_category{
align-self: start;
    padding: 15px;
    /* border: 2px solid green; */
    width: 15%;
    margin: 2px;
} 
.all_page{
    text-align:center;
    border: 2px solid green;
    margin: 10px;
    font-size: 20px;
}
    
.subcontainer1{
 margin: 10px;
width: 80%;
border: 2px solid green;
height: 500px;
display: flex;

}
.Innerclass{
background-color: #dfd9d0;
margin: 10px;
width: 70%;
}

::placeholder {  
text-align: center;
font-size: 15px;
}
.formInner{
margin: 10px;

}
.formInner input[type=text]{
        width: 70%;
        height: 60px;
        margin-bottom : 0px;
       
    }

        
.formInner textarea{
width: 70%;
height: 100px;
margin-bottom: 0px;
}
select{
width: 70%;
height: 40px;
margin-left: 10px;
 

}
.Innerclass2{
border: 2px solid gray;
margin: 10px;
width: 30%;
}
.update_button{
width: 90%;
padding: 5px;
border: 2px solid black;
margin: 10px auto;
text-align:center;

}
.update_button a{
text-decoration: none;
font-size: 20px;
padding: 7px;
}
option{
    text-align: center;
}
.para{
    margin:0px;
    margin-left: 10px;
    color: darkred;
}


/* / Post page  css / */
.post_container{
   
    width: 100%;
    height: 600px;
    /* / border: 2px solid black; / */
}
.mainHeading{
    text-align: center;
    margin: 2px;
}
.subContainer{
     /* border: 2px solid black; */
    margin: 2px auto;
    width:  100%;
    height: 80%;
}
.subHeading{
    margin: 2px;
    text-align: center;
}
.post_form{
    border: 2px solid green;
    width: 95%;
    margin: auto;
display: flex;
}
.subcontainer_post{
    width: 80%;
}
#form{
     
    display: flex;
   
    height: 100%;
    /* border: 2px solid yellow; */
    /*width: 100%;*/
    justify-content: space-evenly;
}
 
textarea{
    height: 70%;
    margin: 10px;
    width: 90%;
    text-align: center;

}
.formContainer2{
    margin: 5px; 
    /* border: 2px solid green; */
     width: 30%;
     height: 300px;
 }
 .formContainer3{
      margin: 5px;
     width: 60%;
     height: 60%;
 }
 
 input[type = "text"]{
     
width: 90%;
height: 40px;
 }
 
 ::placeholder{
     text-align: center;
 }
 h3{
     margin: 0px 10px;
     display: inline-block;
 }
 .checkboxInner{
     border: 2px solid black;
 }

 .category_content{
     margin: 5px;
 }
 .edit_page{
     margin: 5px;
 }
 .clicker {
        width: 30%;
 color: blue;
outline:none;
cursor:pointer;
}
 
.hiddendiv1{
    padding: 5px;
    background-color: whitesmoke;
    width: 80%;
    border: 2px solid #b1dae1;
}
.hiddendiv{
    padding: 5px;
    background-color: #d3c7c7;
    width: 80%;
    border: 2px solid #b1dae1;
}

.hiddendiv{
 display: none;
}
.empty_Message{
    text-align: left;
    margin:0px;
    margin-left: 25px;
}

/* button on of all page  */
.submit{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 50px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 15px 60px;
    }
    .button_secondary {
         background-color: #e1d3e7;
    }


  

